body {
   max-width: 100%;
   overflow-x:hidden;
}

.resize {
   max-width: 100%;
   max-height: 100%;
   padding-bottom: 5rem;
}

.butt {
   border: none;
}

.learn {
   transition: all .5s ease;
     color: rgb(0, 0, 0);
     border: 3px solid rgb(1, 1, 1);
     text-align: center;
     line-height: 1;
     font-size: 17px;
     background-color : transparent;
     padding: 10px;
     outline: none;
     border-radius: 4px;
     width: 8em;
 }
 
 .learn:hover {
   color: #ffffff;
   background-color: rgb(0, 0, 0);
 }
 
 @keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }
 
 @-moz-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }
 
 @-webkit-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }
 
 @-o-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }
 
 @-ms-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
 }

 