body{
    color: rgb(214, 236, 243);
}

h1.odi{
position: relative;
right:20px;
top:1px;
font-style: normal;
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: 80px;
line-height: 90px;
padding-top: 35px;
color: black;
}

span.rest-name{
    color: rgb(151, 192, 231);
}

div.mx-3{
width: 78px;
height: 78px;
}

.fab{
    font-size: 50px;
    vertical-align: 30px;
}

.col.d-flex.justify-content-center{
   position: relative;
   left: 10px;
}

i.fab{
    color: black;
    position: relative;
}

#icons{
    position: relative;
    top: 15px;
    right: 20px;
    padding-bottom: 10px;
}


h1.fuck{
font-style: normal;
font-family: 'Roboto', sans-serif;
font-weight: normal;
padding-top: 1px;
font-size: 14px;
text-align: center;
}


h6.quote{
font-style: normal;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Varela', sans-serif;
font-weight:bolder;
font-size: 12px;

}

i.resume{
    position: relative;
    top: -20px;
    font-size: 50px;
    color: black;
    padding-top: 40px;
    right: 190px;
}

img.img-fluid{
    position: relatve;
    vertical-align: 1px;
}

.with-love{
    text-align: center;
    color: black;
    font-size: 13px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Varela', sans-serif;
    font-weight: bolder; 
    padding-top: 5px; 
    
}

.fa-heart {
    animation:fa-heart 1.5s ease infinite;
  }
  @keyframes fa-heart {
    0% {
      transform:scale(1);
    }
    5% {
      transform:scale(1.15);
    }
    20% {
      transform:scale(1);
    }

    30% {
        transform:scale(1);
      }
      35% {
        transform:scale(1.15);
      }
  }
  
  h1.about-me{
    color: black;    
    position:relative;
    text-align: justify;
    padding-top: 285px;
   
  }
  h4.about-me{
    color: black;
    font-size: medium;
    text-align: left;
  }

  h3.about-me{
    color: rgb(102, 102, 102);
    font-size:25px;
  }

  li.about-me{
    color: black;
  }

  h4.list-h4{
    color: black;
    font-size: medium;
  }
  
  div.personal{
    padding-left: 110px;
  }

  i.fa-chevron-circle-down{
    font-size: 25px;
  }
/**
  footer{
    background-color: rgb(236, 236, 236);
    width:auto;
    height: 100%;
  }
  
  
/**
  
  
  
 